<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EduClub</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>

  <body>
    <div class="nav-overlay" id="navOverlay"></div>
    <!-- Header -->
    <header>
      <nav class="container">
        <a href="#home" class="logo">EduClub</a>
        <ul class="nav-links" id="navLinks">
          <li><a href="#home">Home</a></li>
          <li><a href="#courses">Courses</a></li>
          <li><a href="#tools">Learning Tools</a></li>
          <li><a href="#progress">Progress Tracker</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <div class="hamburger" id="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </nav>
    </header>
  </body>
</html>
